{
  "presets": [
    "es2015",
    "react",
    "stage-0",
    ["env", {
      "targets": {
        "browsers": ["last 3 versions", "safari >= 8"]
      },
      "modules": false
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-es2015-typeof-symbol",
		"transform-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
